<h1>Курсы</h1>
<div class="row">
    {{#if courses.length}}
        {{#each courses}}
            <div class="col s6 offset-s3">
                <div class="card">
                    <div class="card-image">
                        <img src={{image}} alt={{title}}/>
                    </div>
                    <div class="card-content">
                        <h5> {{title}}</h5>
                        <p class="price">{{price}}</p>
                    </div>
                    <div class="card-action">
                        <a href="/courses/{{id}}" target="_blank">Открыть курс</a>
                        <a href="/courses/{{id}}/edit?allow=true" target="_blank">Редактировать курс</a>
                    </div>
                </div>
            </div>
        {{/each}}
    {{else}}
        <h1>Курсов нет!!!</h1>
    {{/if}}
</div>





