<h1>Курсы</h1>
<div class="row">
    {{#if courses.length}}
        {{#each courses}}
            <div class="col s6 offset-s3">
                <div class="card">
                    <div class="card-image">
                        <img src={{image}} alt={{title}}/>
                    </div>
                    <div class="card-content">
                        <h5> {{title}}</h5>
                        <p class="price">{{price}}</p>
                    </div>
                    <div class="card-action actions">
                        <a href="/courses/{{id}}" target="_blank">Открыть курс</a>
                        {{#if @root.isAuthenticated}}
                            {{#if_eq userId._id @root.userId}}
                                <a href="/courses/{{id}}/edit?allow=true">Редактировать курс</a>
                            {{/if_eq}}
                            <form action="/cart/add" method="POST">
                                <input type="hidden" name="_csrf" value="{{@root.csrf}}">
                                <input type="hidden" name="id" value="{{id}}">
                                <button class="btn btn-primary" type="submit">Купить</button>
                            </form>
                        {{/if}}
                    </div>
                </div>
            </div>
        {{/each}}
    {{else}}
        <h1>Курсов нет!!!</h1>
    {{/if}}
</div>





