<h1>Мои Заказы</h1>
{{#if orders.length}}
    {{#each orders}}
        <div class="row">
            <div class="col s6 offset-s3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title">
                            Заказ <small>{{_id}}</small>
                        </div>
                        <p class="date">{{date}}</p>
                        <p><em>{{user.userId.name}}</em>({{user.userId.email}})</p>
                        <ol class="collection">
                            {{#each courses}}
                                <li class="collection-item">{{course.title}}<p class="secondary-content">x{{count}}</p>
                                </li>
                            {{/each}}
                        </ol>
                        <hr>
                        <p>Цена: <span class="price">{{price}}</span></p>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
{{else}}
    <p>Заказов нет</p>
{{/if}}
